.container {
  display: flex;
  justify-content: space-between;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products img {
  width: 30px;
  height: 30px;
}
