.sidebar {
  width: 25%;
  align-items: flex-start;
  border: 1px dashed #e2e2e2;
  border-radius: 10px;
  padding: 20px;
  margin-right: 40px;
}

.sidebar div {
  display: flex;
  align-items: center;
  color: #fe5d42;
  margin-bottom: 15px;
}

.sidebar div svg {
  font-size: 1.3rem;
  margin-right: 5px;
}

.sidebar div span {
  color: #848383;
  margin-left: 10px;
}

.sidebar button {
  width: 100%;
  margin-top: 40px;
  background-color: #fe5d42;
  color: #e2e2e2;
  border: none;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
