.search {
  margin: 0 10px 20px;
  display: flex;
  align-items: center;
}

.search input {
  border: 2px dashed #fe5d42;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  color: #fe5d42;
  margin-right: 10px;
}

.search input:focus {
  outline: none;
}

.search button {
  padding: 10px;
  font-size: 1rem;
  background-color: #fe5d42;
  color: #242424;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
