.sideBar {
  width: 200px;
  height: fit-content;
  margin: 10px;
  padding: 20px;
  margin-left: 30px;
  background-color: #3a3737;
  border: 2px dashed #e2e2e2;
  border-radius: 20px;
}

.sideBar div {
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fe5d42;
  font-weight: 500;
}

.sideBar p {
  margin-left: 10px;
}

.sideBar li {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
}

.sideBar li:hover {
  color: #fe5d42;
}

.active {
  color: #fe5d42;
  background-color: #ae63558c;
  border-radius: 10px;
}
