:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  color: #f9fafc;
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}
